html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: #252B48;
    text-align: center;
    color: #fff;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 80px;
    margin: 40px auto;
    color: #F7E987;
}


