html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: #252B48;
    text-align: center;
    color: #D8D9DA;

    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    margin: 50px auto 50px auto;
    color: #F7E987;

    flex-grow: 1;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 100px;

    font-family: 'Roboto Mono', monospace;
    color: #F7E987;
    flex-grow: 3;
}

.button{
    height: 125px;
    width: 125px;
    margin-right: 10px;

    background-size: cover;
    background-color: #445069;

    border: 3px solid #5B9A8B;
    border-radius: 16px;
}

.button:last-of-type{
    margin-right: 0;
}

.player-buttons .button:hover{
    cursor: pointer;
    opacity: 50%;
}

.rock{
    background-image: url("./images/rock.svg");
}

.paper{
    background-image: url("./images/paper.svg");
}

.scissors{
    background-image: url("./images/scissors.svg");
}

.score{
    font-weight: bold;
}

footer{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-top: auto;
}

.active{
    background-color: #F7E987CC;
}